input/
output/
archive/
logs/
archive/test1/test/o.png
archive/test2/test/o.png
logs/magicktes-log_20241226_201612.log
logs/magicktes-log_20241226_202101.log
logs/magicktes-log_20241226_202137.log
logs/magicktes-log_20241226_202337.log
output/test1/test.pdf
output/test2/test.pdf
